extends ../templates/landingPage.pug

block title
	|Tools

block head
	style.
		.asterisk{color:#009900;}

block breadCrumbs
	+breadcrumbToolPageHome

block icon
	+fa('wrench','fa-5x')

block intro
	p.
		Free tools to assist with web accessibility testing



block content
	h2 Browser Plugins/Add-ons/Extensions
	h3 Automated checking
	p.
		Tools that check for a wide variety of issues.
	ul
		li
			+externalLink("https://ainspector.github.io/")
				|AInspector (Firefox) 
				+faText("asterisk", "asterisk", "(requires Firefox ESR)")
		li
			+externalLink("http://wave.webaim.org/extension/")
				|WAVE (Chrome and Firefox) 
		li
			+externalLink("https://www.deque.com/products/axe/")
				|aXe (Chrome and Firefox) 

	h3 Specific issue checking
	p.
		Used for manual checks.
	ul
		li
			+externalLink("http://wave.webaim.org/extension/")
				|WAVE (Chrome and Firefox) 
		li
			+externalLink("http://blrichwine.github.io/W15yQC/")
				|W15YQC (Firefox) 
				+faText("asterisk", "asterisk", "(requires Firefox ESR)")
		li
			+externalLink("https://chrome.google.com/webstore/detail/high-contrast/djcfdncoelnlbldjfhinnjlhdjlikmph")
				|High Contrast (Chrome)
		li
			+externalLink("https://chrome.google.com/webstore/detail/nocoffee/jjeeggmbnhckmgdhmgdckeigabjfbddl/related")
				|No Coffee Vision Simulator (Chrome)
		li
			+externalLink("https://chrome.google.com/webstore/detail/colora11y/icfneoldcbdmgaiocnnobpbbjncdfbfb")
				|ColorA11y (Chrome)
		li
			+externalLink("https://chrispederick.com/work/web-developer/")
				|Web Developer Toolbar (Chrome and Firefox) 
		li
			+externalLink("https://chrome.google.com/webstore/detail/contrast-ratio-checker/kmicfegjejpginnockfnjpdgeffebdcf?hl=en")
				|Contrast Ratio Checker (Chrome)

	h2 Bookmarklets
	p.
		Bookmarks that assist in performing manual checks.
	ul
		li
			+externalLink("http://khan.github.io/tota11y/")
				|Tota11y
		li
			+externalLink("http://paypal.github.io/skipto/")
				|SkipTo
		li
			+externalLink("https://accessibility-bookmarklets.org/install.html")
				|Accessibility Bookmarklets

	h2 Screen Readers
	ul
		li
			+externalLink("https://www.nvaccess.org/")
				|NVDA (Windows)
		li
			+externalLink("http://www.freedomscientific.com/Products/Blindness/JAWS")
				|JAWS (Windows)
		li
			+externalLink("https://help.apple.com/voiceover/info/guide/10.12/")
				|VoiceOver(Mac)

	h2 Notes
	ul.list-unstyled
		li 
			+faText("asterisk", "asterisk", "(requires Firefox ESR)") 
			| Requires the 
			+externalLink("https://www.mozilla.org/en-US/firefox/organizations/")
				| ESR (pre verison 57) version of Firefox

	small.
		Tools referenced in this document are for informational purposes only.  The University of Minnesota does not officially endorse any of the tools mentioned in this site.