extends ../templates/landingPage.pug


block title
	|WAVE

block head

	

block breadCrumbs
	+breadcrumbWave

block icon
	img(src="../assets/images/wave/waveBig.png" alt='')

block intro
	p.
		WAVE  is free tool from #[+externalLink("http://webaim.org") WebAIM] to help web developers make their web content more accessible.   WAVE is simple yet powerful and can be used on any web page.
    
	p
		a(href="#") Getting started with Wave guide

	p.button-row
		a.btn.btn-outline-dark(href="samplePage.html") Sample Page


block content
	h2 Installing WAVE
	p.
		You can use wave there different ways:
	ul
		li Browser Plugin (recommended with Chrome)
		li Browser bookmarklet
		li Online service