extends ../templates/landingPage.pug


block title
	|WAVE

block head

	

block breadCrumbs
	+breadcrumbWave

block icon
	img(src="../assets/images/wave/waveBig.png" alt='')

block intro
	p.
		WAVE  is free tool from #[+externalLink("http://webaim.org") WebAIM] to help web developers make their web content more accessible.   WAVE is simple yet powerful and can be used on any web page.
    
	p
		a(href="https://docs.google.com/document/d/1w20LDqAB1HtoQuqKQK3MlZ3MnI9fBcJ4zXZgA43vCNE/edit") Getting started with Wave guide

	p.button-row
		a.btn.btn-outline-dark(href="samplePage.html") Sample Page


block content
	h2 Installing WAVE
	p.
		You can use wave there different ways:
	ul
		li 
			a(href="https://wave.webaim.org/extension/" target="_blank")
				Browser Plugin (recommended with Chrome)
		li 
			a(href="https://wave.webaim.org/" target="_blank")
				Online service