extends ../templates/landingPage.pug

block head
	style.
		.testerActionButtons{display:none}
		.crazyForm{position:relative; padding-bottom:130px}
		.crazyForm .form-group{width:45%}
		.card-body.row .col-sm-2 {display:none}
		form{margin-left:30px; margin-bottom:50px}

block title
	|Sample page to test in WAVE

block breadCrumbs
	+breadcrumbWave
		|Sample test page to test in WAVE

block intro
	p.
		This a test page



block content
	.row
		.col
			p
				img(src="../assets/images/Lotus_Flower_text.png" style="margin-top:20px")
			p
				img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Sacred_lotus_Nelumbo_nucifera.jpg/256px-Sacred_lotus_Nelumbo_nucifera.jpg" style="float:left; margin-right:20px; width:160px")
				.
					Nelumbo nucifera, also known as Indian lotus, sacred lotus, bean of India, Egyptian bean or simply lotus, is one of two extant species of aquatic plant in the family Nelumbonaceae. The Linnaean binomial Nelumbo nucifera Gaertn. is the currently recognized name for this species, which has been classified under the former names, Nelumbium speciosum Willd. and Nymphaea nelumbo, among others. (These names are obsolete synonyms and should be avoided in current works.) This plant is an aquatic perennial. Under favorable circumstances its seeds may remain viable for many years, with the oldest recorded lotus germination being from that of seeds 1,300 years old recovered from a dry lakebed in northeastern China.
	.row
		.col
			h3 Botany
			p The roots of lotus are planted in the soil of the pond or river bottom, while the leaves float on top of the water surface or are held well above it ...
			p
				a(href="https://en.wikipedia.org/wiki/Nelumbo_nucifera#Botany") Read more
		.col
			h3 Cultivation
			p The Sacred Lotus grows in water up to 2.5 m (8 ft). The minimum water depth should not be lower than 30 cm (12 in). In colder climates such a low water level, which heats up more quickly . . .
			p
				a(href="https://en.wikipedia.org/wiki/Nelumbo_nucifera#Cultivation") Read more
		.col
			h3 Use
			p Shows high potential for usage in wastewater treatment removing polluting compounds and heavy metals. It is able to grow in variable water conditions ...
			p
				a(href="https://en.wikipedia.org/wiki/Nelumbo_nucifera#Use") Read more
	
	.row
		.col
			h5
			h2 Catalog
			p.sr-only
				img(src="../assets/images/lotusYogaPose.png")

			p Let us send you more information about lotus flowers.
			h4 US Post
			form.crazyForm
				button.btn.btn-primary(style="position:absolute;bottom:0") Submit
		
				.form-group.pull-right
					label(for="exampleInputLastName") Last name
					input.form-control#exampleInputLastName(type="text" placeholder="Last Name")

				.form-group
					label First name
					input.form-control#exampleInputFirstName(type="text" placeholder="First Name")
				+alert
					| The "First name" label is not associated with its text field.

				.form-group.pull-left
					label(for="exampleInputAddress") Address
					input.form-control#exampleInputAddress(type="text" placeholder="Address" )
					

				.form-group.pull-right
					label(for="exampleInputCity") City
					input.form-control#exampleInputCity(type="text" placeholder="City") 

			h4 Electronic
			form.form-inline
				input.form-control.specialLabel#exampleInputSearch(type="text" placeholder="Email Address" aria-label="email")
				button.btn.btn-primary Submit

				p(style="width:100%")
					small.form-text.text-muted
							|Only enter 1 email address.

			p.h2 Social Media
			ul.list-inline
				li.list-inline-item
					a(href="http://facebook.com") 
						i.fa.fa-facebook-official.fa-5x
				li.list-inline-item
					a(href="http://facebook.com") 
						i.fa.fa-snapchat-square.fa-5x
				li.list-inline-item
					a(href="http://facebook.com") 
						i.fa.fa-twitter-square.fa-5x
				li.list-inline-item
					a(href="http://facebook.com") 
						i.fa.fa-instagram.fa-5x

			p(style="text-align:center")
				img(src="../assets/images/lotusBlossum.png" alt="more" style="width:70px")