extends mainTemplate.pug



block head

block title
	|Home
block breadCrumbs

block contentContainer
	.bannerSpacer
	.row
		.col
			.card.bg-light
				.card-body.row
					.col-sm-3
						block icon
					.col-sm-9
						block intro
							
	.row
		.col
			block feature1
		.col
			block feature2
		.col
			block feature3
