extends mainTemplate.pug



block head

block title
	|Home
block breadCrumbs

block contentContainer
	.bannerSpacer
	.row
		.col
			.card.bg-light.homeCard
				.card-body.row
					.col-lg-6
						block intro
							
	.row
		.col.homeCol
			block feature1
		.col.homeCol
			block feature2
		.col.homeCol
			block feature3

	.row
		.col
			block about
