extends mainTemplate.pug



block title
block headIncludes
	+headIncludes('../')

block append head
	style
		|.breadcrumb .active {margin-top: 0px;}

block breadCrumbs
	+breadcrumbs('../')

block contentContainer
	.row
		.col
			h1
				block title
			.card
				.card-body.row
					.col-sm-2
						block icon
					.col-sm-10
						block intro
							
	block content

block bodyIncludes
	+bodyIncludes('../')
block extraCode
