include generalMixins.pug

doctype html  
html(lang='en')  
	head
		title 
			block title
		+headIncludes

		block head
	body
		+banner
		+breadcrumbSamplePage
			block title
		main.container
			.row
				.col
					h1
						block title
					.card.bg-light
						.card-body
							h2.h3 Things to check for:
							ul.fa-ul
								block checkFor
							block example
							ul.list-inline.testerActionButtons
								li.list-inline-item
									button.btn.btn-outline-dark.btn-sm.toggle-warnings-btn
										|Toggle hints
								li.list-inline-item
									block howToCheckURL
			block content

		block outsideLandmark
		+footer
		+modal
		+bodyIncludes
		block extraCode