extends mainTemplate.pug

block title
block headIncludes
	+headIncludes('../')

block append head
block breadCrumbs
	+breadcrumbSamplePage
		block title

block contentContainer
	.row
		.col
			h1
				block title
			.card.bg-light
				.card-body
					h2.h3 Things to check for:
					block checkForIntro
					ul.fa-ul
						block checkFor
					block example
					ul.list-inline.testerActionButtons
						li.list-inline-item
							button.btn.btn-outline-dark.btn-sm.toggle-warnings-btn
								|Toggle hints
						li.list-inline-item
							block howToCheckURL
	block content

block outsideLandmark
block bodyIncludes
	+bodyIncludes('../')
block extraCode