extends templates/homePage.pug

block head
	style.
		.card{margin-bottom:50px}
		

block title
	|Home



block intro
	p.h1(style='margin-bottom:0') You Can Do This.
	h1.h5(style='margin-top:0') Web Accessibility Testing for Everyone.
	p Making testing easier so everyone can participate.
	p 

block feature1
	h2 Tools
	p There are numerous free tools you can use in a browser to make testing for accessibility easier.
	p.button-row
		a.btn.btn-outline-dark(href="tools/index.html")
			+fas('wrench')
			|Tools


block feature2
	h2 How To's
	p
		|Customizable document on how to perform accessibility tests.
	p.button-row
		+testingDocLink('','Handout','btn btn-primary ')

block feature3
	h2 Sample Website
	p
		|Sample website to practice your web accessibility testing skills. Errors are clearly marked.
	p.button-row
		a.btn.btn-primary(href="samplesite/index.html")
			+fas('cogs')
			|Sample pages

			
block about
	div(style="display:none")
		h2 About
		p
			|This is the website was created by Kim Doberstein for the purpose of simplifying accessibility testing so it can be done often by anyone. It will catch the bigger accessibility issues, but won't catch them all.