////////////// CONFIG //////////////////////
.alert-warning, .alert-info{
	display:none;
	margin-top:1em;
}
a{display:inline-block}


///////////// ELEMENTS ////////////////////
ol, ul{
	li{
		margin-bottom:10px;
	}
}

nav ul li{margin-bottom:0}

dl{
	margin-left:20px;
	dd{
		margin-bottom:10px;
	}
}
ul.nav-pills{
	li{margin-bottom:0;}
}


table{
	tbody{
		tr{
			th{font-weight: normal;}
		}
	}


}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
	font-family: "Roboto","Helvetica Neue", Arial, sans-serif;
	color: #3f0a2d;
}
h2, .h2, h3, .h3, h4, .h4 {
    margin-top: 22px;
    margin-bottom: 11px;
    font-family: "Roboto","Helvetica Neue", Arial, sans-serif
}
h1, .h1{
	margin-top:0px;
	margin-bottom:30px;
	
}

////////////// OnFocus ///////////////////
/*input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}*/
 
input:focus, textarea:focus, a:focus, button:focus, *[tabindex='0']:focus, *[tabindex='-1']:focus, 	.form-control:focus {
 
	//  box-shadow: 0 0 8px rgba(81, 203, 255, 1);
	  //padding: 3px 0px 3px 3px;
	  //margin: 5px 1px 3px 0px;
	  //border: 1px solid rgba(81, 203, 238, 1);
	 
		box-shadow: 0 0 0 0.2rem rgba(46, 110, 165, 0.73);
	
}
.btn-outline-dark:focus, .btn-outline-dark.focus {
	box-shadow: 0 0 0 0.2rem #8c8f93;
	text-decoration: underline
}

.btn-primary:focus, .btn-primary.focus {
	box-shadow: 0 0 0 0.2rem #7992a7;
	text-decoration: underline
}

.noIndicator a:focus{
	box-shadow:none !important;
	//border:none !important;
	border-bottom-color: darken($gray-200, 10%) !important;
	outline:none !important;
}

///////////// Site Header ////////////////

header{
///border-top:15px solid #333;
background-color:#333;

}

.page-header{
	border:none;
	//min-height:125px;
	//background-image: url("../images/lotusBackground.png");
	//background-position:right;
	//background-repeat: no-repeat;
	margin-bottom:0;
	padding-top:5px;
	padding-bottom:5px;
	margin-top:0;
	position:relative;
	z-index:50;
	text-align:right;
	color:#bb6697;
	

	
	small{
	//	display:block;
		margin-left:10px;
		color:#808080;
		font-size:19px
	}
	@media screen and (max-width: $screen-md)  {
		margin-top:10px;
	}


	
}
/*
.header-background{
		position:absolute;
		top:0;
		right:15px;
		background-image: url("../images/lotusBackground.png");
		height:124px;
		width:550px;
		z-index:25;

	}
*/

//////////// Footer /////////////////////
footer, .siteFooter{
	display:block;
	    margin: 25px auto;
	    margin-top:50px;
    border-top: 1px solid #f0f0f0;
    padding: 15px 0 15px 0;
    
    text-align: center;
    font-size: 90%;
}



////////////// HOMEPAGE ////////////////
/*
.jumbrotronImg{
	margin-top: -25px;
	margin-left:-25px;
}
 .jumbotron{ 
 	h1{
 		font-size:36px;
 	}
 	small{display:block}

 }
 */

 .homeCard{
	 padding-left:20px;
 }
 
/* For width 400px and larger: */
@media only screen and (min-width: 700px) {
    .homeCard{
		background-image: url("../images/lotusCardBG.png");
		background-position: right bottom; /* Center the image */
		background-repeat: no-repeat; /* Do not repeat the image */
		background-size: 55% 100%;

    }
}
.homeCol{
	h2{
		border-bottom:1px solid #986e85;
		padding-bottom:10px;
	
	}
}
/////////// BREADCRUMB ////////////////////
.breadcrumb{
    	.breadcrumb-item{
			
			&.active{
				color:#656b71 ;
			}
			a{display:inline-block;}
    	}
		.active{margin-top:5px;}
		.waveLogo{
			width: 30px;
			height: 28px;
			margin-top:2px;
			display: inline-block;
			margin-right: 10px;
			background-image: url(../images/wave/waveLink.png);
			background-size: contain;
			background-repeat: no-repeat;
		}
		a:hover{
			.waveLogo{
				background-image: url(../images/wave/waveHover.png);
			}
		}
		.fa-2x{font-size:1.5em;}

    }

.bannerSpacer {
  /*padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: #ccc;
  border-radius: 0.25rem;
  min-height:30px
  */
  border-top:1px solid #ccc;
  min-height:50px;
}
///////////////// SAMPLE PAGES //////////////
.testerActionButtons{	margin-top:30px
}

.card{
	.btn, .fa-check-square{background-color:#fbfbfb}
	.btn:hover{background-color:#343a40}

}

//////////////// MAIN CONTENT //////////////
#main_content, main{
	

	.btn-link,a{    border-bottom: .08em solid  darken($gray-200, 10%); //rgba(0,0,0,.1);
    padding-bottom: .08em;}

    .btn-link:hover, .btn-link:focus, a:hover, a:focus{
    	border-bottom-color: darken($link-color, 15%);
    	text-decoration:none;
	}
	nav a{border-bottom:0;padding-bottom:0}
	

}
.subheading{
	margin-left: 50px;
	margin-bottom: 50px;
}

.button-row{
	text-align:center;
}

////////////////// MODAL //////////////
.modal-backdrop{
	opacity:0.5;
}


////////////////FA icon spacing ///////
.alert, .breadcrumb-item{
	.fa{
		margin-right:10px
	}
}

.faIcon{
	margin-right:5px;
	margin-left:5px;
	display:inline-block;
}