extends ../templates/testerPage.pug

block title
	|Automated Checkers

block checkFor
	+checkFor("Look at each violation/error and warning")
	+checkFor("Run in multiple checkers")

block content
	.row
		.col
			h2 First Subheading
			p(role="super_Kim_text") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet risus non eros dapibus lobortis. Etiam egestas lacinia libero, non posuere arcu lacinia non. In suscipit dapibus tortor ac commodo. Sed pretium libero in pharetra rutrum. Cras a ante viverra, fringilla tellus ut, blandit lorem.

			+alert
				|The paragraph above has a made up role attribute value called "super_Kim_text". 


			button.btn.btn-primary.btn-lg
				+fao('calendar','fa-2x')
			+alert
				|The button above doesn't have any text. 

				
			h3 Favorite Color
			p
				label
					input(type="radio" name="color" value="maroon") 
					| Maroon
			p
				label
					input(type="radio" name="color" value="gold") 
					| Gold
		
			+alert
				|The radio buttons above are not contained in a fieldset tag.

block outsideLandmark
	.container
		p
			+fas('quote-left','fa-3x')
			|  If there's nothing wrong with me... maybe there's something wrong with the universe.
		+alert
			|The paragraph above is not contained in an ARIA landmark.

