extends ../templates/testerPage.pug

block head
	style.
		/*
		#inputEmail3{
			border-color:#ced4da;
			border:none;
			border-bottom:1px solid #898989;

		}
		.bad{
			border-color: #ced4da
		}
		*/
		#inputName{
			border:none;
			border-bottom: 2px solid #898989
		}
		#inputEmail3{border:1px solid #ced4da}
		label{
			font-weight:bold;
		}
		label:after{
			content:":"
		}
		

		.btn-primary:hover, .btn-primary:focus{
			background-color:#245075;
			text-decoration:underline;
		}
		.button2:focus,.button2:hover{
			box-shadow:none;
			text-decoration:none;
			
		}

		.imgOne{background-color:#dc7920}
		.imgOne {color:#fff;}
		
		.imgTwo{background-color:#ffc107;}
		.imgTwo {color:#fff;}

		.imgThree{background-color:#ffeb3b; border:2px solid #555}
		.imgThree {color:#555555}

		.rounded-circle{
			width:50px;
			height:50px;
			display: inline-block;
			margin-right: 15px;
		}
		.rounded-circle svg{
			margin-left: 26%;
			margin-top: 18%;
			
		}

block title
	|Color Contrast Non-Text
block checkForIntro
	p The following should have at least a contrast ratio of 3:1:
block checkFor

	+checkFor("Input fields  border or a background color and the page background.")
	+checkFor("Items receiving focus with color before receiving focus OR have an indicator besides color (like text underlining or additional shadow).")
	+checkFor("Icons and other informational images with the page background")
	+checkFor("Images inside an icon and the icon background color")
block howToCheckURL
	// +howToCheck("h.n0blawx4c67y")

block content
	.row
		.col
			h2 Example Form

			form
				.form-group.row
					label.col-sm-1.col-form-label(for="inputName") Name
					.col
						input#inputName.form-control(type="text" autocomplete="name")
				.form-group.row
					label.col-sm-1.col-form-label(for="inputEmail3") Email
					.col
						input#inputEmail3.form-control(type="E-mail" autocomplete="email" )
				+alert
					p The border around the "email" input field doesn't have a contrast ratio of at least 3:1.
				
				.form-group.row
					label.col-sm-1.col-form-label(for="inputPhone") Phone
					.col
						input#inputPhone.form-control(type="text" autocomplete="tel-national" )
				
				p
					button.btn.btn-primary.btn-lg(type="button" ) Button 1
				
					button.btn.btn-primary.btn-lg.button2(type="button" ) Button 2
				+alert
					p When Button 2 receives focus, the change in color doesn't have a contrast ratio of at least 3:1 with the color before receiving focus.  
					p Button 2 does not have a secondary indicator, like a shadow, to assist the user from knowing button 2 has focus.

			hr
			h2 Info graphics


			p
				.rounded-circle.imgOne
					+fao('lightbulb', 'fa-2x', "idea 1")
				| Idea 1
			p
				.rounded-circle.imgTwo
					+fao('lightbulb', 'fa-2x', "idea 2")
				| Idea 2
			+alert
				p Idea 2 icon background does not have a contrast ratio of 3:1 wth the page background.
				p The light bulb icon in Idea 2 does not have  a contrast ratio of 3:1 wth the icon background.
			p
				.rounded-circle.imgThree
					+fao('lightbulb', 'fa-2x', "idea 3")
				| Idea 3
