extends ../templates/testerPage.pug

block title
	|Hyperlinks

block checkFor
	+checkFor("Link text describes the destination of the link")
	+checkFor("Links are not empty")
	+checkFor("Link text is unique (unless the links have the same destination)")

block howToCheckURL
	+howToCheck("h.ddzvg3fq8tf")
	
block content
	.row
		.col
			h2#aNewsStory A news story
			p
				|Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ex tellus, euismod eu faucibus et, porttitor non lectus. Duis maximus mi nec tincidunt pretium.
				
			p
				a(href="http://www.google.com")
					|Read more
			+alert
				|"Read more" link is not descriptive.

		.col
			h2 Another news story
			p
				|Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ex tellus, euismod eu faucibus et, porttitor non lectus. Duis maximus mi nec tincidunt pretium.
				
			p
				a(href="http://umn.edu")
					|Read more
			+alert
				|"Read more" link is not descriptive.

		.col
			h2 Helpful Links

			ul
				li
					a(href="https://r.umn.edu/")
						|Rochester campus
				li
					a(href="https://d.umn.edu")
						|Duluth campus
				li
					a(href="#aNewsStory")
						|A news story
				li
					a(href="http://my.favorite.pdf")
						+fao("file-pdf", "fa-2x")
					+alert
						|The PDF link is empty.