extends ../templates/testerPage.pug

block head
	style.
		#custLoad{color:#555}
block title
	|Status Messages

block checkFor
	+checkFor("Status messages that are initialed by a user action (like a button click) and no not change focus are announced by a screen reader.")

	
block howToCheckURL
	//-
		+howToCheck("h.n0blawx4c67y")

block content
	.row
		.col
			h2 View customers
			p
				button.btn.btn-primary#custButton Load customers
			.alert.alert-dark(role="alert")#custLoad
				+fas("circle-notch", "fa-spin fa-2x fa-fw", "Loading customers")
			.alert.sr-only(role="alert")#custLoadDone 3 customers loaded
			table.table.table-striped#custTable
				thead
					tr
						th(scope="col") Name
						th(scope="col") Account
				tbody
					tr
						th Alex Adams
						th 29071
					tr
						th Pat Jones
						th 26204
					tr
						th Ali Nguyen
						th 93735
			
			hr

			h2 Add customer
			.alert.alert-success#custNewAlert Customer added.

			.form-group.row
				label.col-sm-1.col-form-label(for="inputName") Name
				.col
					input#inputName.form-control(type="text" )
			.row
				.col
					button.btn.btn-primary#custNewButton Add customer
			+alert
					p The add new customer confirmation is not announced as an alert by a screen reader.

			hr
			h2 Sample text
			p Hiding behind the couch until lured out by a feathery toy asdflkjaertvlkjasntvkjn (sits on keyboard) cats go for world domination or meow yet chase ball of string making sure that fluff gets into the owner's eyes. Stare at ceiling light. Stares at human while pushing stuff off a table stand with legs in litter box, but poop outside or that box? i can fit in that box for claw drapes touch water with paw then recoil in horror groom yourself 4 hours - checked, have your beauty sleep 18 hours - checked, be fabulous for the rest of the day - checked. Unwrap toilet paper wack the mini furry mouse chill on the couch table i could pee on this if i had the energy. 

block extraCode
	
	script.
		$('#custLoad, #custLoadDone, #custTable,#custNewAlert').hide()

		$('#custButton').click(function(){
			$(this).addClass('disabled').attr('disabled','disabled');
			$('#custLoad').show();
			$('#custTable').hide();
			$('#custLoadDone').hide();
			setTimeout(()=>{ 
				$('#custLoadDone').show();
				$('#custLoad').hide();
				$('#custTable').show();
				$('#custButton').removeClass('disabled').removeAttr('disabled')
			 }, 3000);
		})
		$('#custNewButton').click(function(){
			$(this).addClass('disabled').attr('disabled','disabled');
			$('#custNewAlert').hide();
			setTimeout(()=>{
				$('#custNewAlert').show();
				$('#custNewButton').removeClass('disabled').removeAttr('disabled')
				$('#inputName').val('')
			},2000)
		})
