extends ../templates/testerPage.pug

block head
	style.
		caption{
			color: #868e96;
			text-align: left;
			caption-side: top ;
		}
		td h3{margin-top:0;}
		h2{margin-top:50px}



block title
	|Tables

block checkFor
	+checkFor("Data tables have column headings and row headings (if applicable).")


	+checkFor("Layout tables do not contain any column or row headings.")



block howToCheckURL
	+howToCheck("h.qtwxe3tlglg4")

block content
	.row
		.col
			

			h2 Children and their birthdates
			p
				|Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui eros, suscipit eget risus ut, vulputate feugiat neque. Vestibulum tincidunt dolor at augue rhoncus, at mollis tellus placerat. Integer vitae tellus et nibh suscipit vehicula non non ex. Vivamus convallis feugiat efficitur. Nunc malesuada mi nulla, nec sodales tellus efficitur varius. Donec aliquet, nibh in viverra ornare, ante sem commodo ligula, eu porta risus diam sit amet sem. Suspendisse potenti. Sed varius sed magna ac congue. Donec tincidunt mauris non blandit tincidunt. Donec a nisl at leo eleifend commodo non sed nunc.
			table.table
				caption
					|Brook's children
				thead
					tr
						th(scope="col") Name
						th(scope="col") Age
						th(scope="col") Birth Day
				tbody
					tr
						th(scope="row") Alex
						td 5
						td Jan. 5
					tr
						th(scope="row") Pat
						td 7
						td Oct. 25
					tr
						th(scope="row") Ari
						td 3
						td July 12

			h2 A look at colors
			p
				|Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui eros, suscipit eget risus ut, vulputate feugiat neque. Vestibulum tincidunt dolor at augue rhoncus, at mollis tellus placerat. Integer vitae tellus et nibh suscipit vehicula non non ex. Vivamus convallis feugiat efficitur. Nunc malesuada mi nulla, nec sodales tellus efficitur varius. Donec aliquet, nibh in viverra ornare, ante sem commodo ligula, eu porta risus diam sit amet sem. Suspendisse potenti. Sed varius sed magna ac congue. Donec tincidunt mauris non blandit tincidunt. Donec a nisl at leo eleifend commodo non sed nunc.
			table.table
				caption
					|Code used to represent colors in HTML and CSS
				thead
					tr
						th Color
						th Hex Code
						th RGB Code
				tbody
					tr
						td Red
						td #ff0000
						td 255,0,0
					tr
						td Green
						td #00ff00
						td 0,255,0
					tr
						td Blue
						td #0000ff
						td 0,0,255

			+alert
				|The color table is missing row columns.  In addition, no scope is set for the existing headers (should be set to "col" for column.)

			h2 Minnesota Apples
			
			table.table
				thead
					tr(style="font-weight:bold")
						td Name
						td Season
						td Description
					tr
						td Beacon
						td Early
						td Bright red apple with soft, juicy flesh and a slightly tart flavor. 
					tr
						td Honeycrisp
						td Mid
						td Large, dappled red fruit with a well-balanced flavor, outstanding crispness and juiciness.
					tr
						td Frostbite
						td Late
						td Intensely sweet, firm and juicy flesh.
			+alert
				|The Minnesota apples is both row and column headers.  Screenreaders will assume this is a layout table.

			h2 In today's news
			table(role="none")
				tr
					td(style="padding:10px;")
						h3 Sample Story 1
						p
							|Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in condimentum nibh. Cras aliquet odio quam, in pretium nisi tempus nec ...
					td(style="padding:10px;")
						h3 Sample Story 2
						p
							|Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in condimentum nibh. Cras aliquet odio quam, in pretium nisi tempus nec ...


